body {
  text-align: center;
  margin: 10px 0 0 0;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 760px) {
  body .mobile {
    display: none;
  }
}

@media (max-width: 760px) {
  body .desktop {
    display: none;
  }
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container img {
  width: 100vw;
}

body .container button {
  background-color: #FB54C2;
  color: #F7FCFF;
  border: none;
  border-radius: 20px;
  height: 40px;
  min-width: auto;
  font-size: 80%;
  padding: 0 30px;
  -webkit-box-shadow: 0 0.4rem 1rem -0.3rem #cab1b1;
          box-shadow: 0 0.4rem 1rem -0.3rem #cab1b1;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

body .container button:hover {
  background-color: #d145a3;
}

body .container .header header {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .header header img {
  height: 3.25vh;
  width: auto;
}

body .container .header header button {
  border: solid 1px #FB54C2;
  background-color: white;
  color: #FB54C2;
}

body .container .header header button:hover {
  background-color: #FB54C2;
  color: #F7FCFF;
}

body .container .main-title {
  font-family: 'Poppins', sans-serif;
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .main-title h1 {
  font-weight: 700;
}

body .container .main-title p {
  font-family: 'Open Sans', sans-serif;
  width: 50%;
}

body .container .sub-section {
  width: 100%;
}

body .container .sub-section img {
  width: 50%;
}

body .container .stats {
  width: 80%;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 760px) {
  body .container .stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .container .stats h2 {
  font-size: 6vw;
  margin: 0;
}

body .container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 760px) {
  body .container .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .container .info .info-img {
  padding: 5%;
}

body .container .info .info-img img {
  width: 90%;
}

body .container .info .text {
  text-align: left;
  padding: 10%;
}

@media (max-width: 760px) {
  body .container .info .text {
    text-align: center;
  }
}

body .container .info .text h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 200%;
  font-weight: 700;
}

@media (max-width: 760px) {
  body .container .conversations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

body .container .users, body .container .grow {
  background-color: #F7FCFF;
}

body .container .action-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60vh;
}

body .container .action-call button {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .container .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #01262F;
  color: #FEFEFE;
  width: 100%;
}

@media (max-width: 760px) {
  body .container .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

body .container .footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  padding-left: 5vw;
}

@media (max-width: 760px) {
  body .container .footer .left {
    padding-left: 20px;
  }
}

body .container .footer .left img {
  width: auto;
  fill: white;
}

body .container .footer .left p {
  text-align: left;
  width: 50%;
}

@media (max-width: 760px) {
  body .container .footer .left p {
    width: 150%;
  }
}

body .container .footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20%;
  text-align: left;
}

@media (max-width: 760px) {
  body .container .footer .right {
    padding-left: 20px;
  }
}

body .container .footer .right h4 {
  margin: 10px 0 0 0;
}

body .container .footer .right p {
  width: 70%;
  text-align: left;
}
/*# sourceMappingURL=index.css.map */