body{
    text-align: center;
    margin: 0;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .header{
            header{
                display: flex;
                flex-direction: row;
                justify-content: space-between
            }
        }
        .main-title{
            border: black solid 1px;
            padding: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                width: 50%;
            }
        }
        .sub-section{
            img{
                width: 80%;
            }
        }
        .stats{
            width: 80%;
            display: flex;
            justify-content: space-around;
        }
        .info{
            display: flex;
            border: black solid 1px;
            align-items: center;
            .info-img{
                img{
                    width: 80%;
                }
            }
            .text{
                text-align: left;
                padding: 5%;
            }
        }
        .users, .grow{
            background-color: #F7FCFF;
        }
        .action-call{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 60vh;
            button{
                width: 50%;
                align-self: center;
            }
        }
        .footer{
            display: flex;
            background-color: #01262F;
            color:#FEFEFE;
            width: 100%;
            .left{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 50%;
                padding-left: 5%;
                h4{
                    font-size: 2.5vw;
                }
                p{
                    text-align: left;
                    width: 50%;
                }
            }
            .right{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 20%;
                text-align: left;

                p{
                    width: 70%;
                    text-align: left;
                }
            }
        }
    }
}